* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    filter: brightness(0) invert(1)
}

body {
    background-color: var(--bs-gray-dark);
    color: white;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 30px;
}

ul li {
    position: relative;
    list-style: none;
}

ul li a {
    position: relative;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
}

ul li a::before {
    content: attr(data-text);
    white-space: nowrap;
    transform: translateY(4px);
    position: absolute;
    color: white;
    width: 0;
    overflow: hidden;
    transition: 0.4s;
    border-right: 3px solid white;
    -webkit-text-stroke: 1px white;

}

a:hover {
    color: white;
}

ul li a:active::before,
ul li a:hover::before {
    width: 100%;
    color: white;
    filter: drop-shadow(0 0 3px white);
}

.nav-active::before {
    width: 100%;
    color: white;
    filter: drop-shadow(0 0 3px white);
}

.coll {
    text-decoration: none !important;
    color: white !important;
}

.coll:active,
.coll:hover {
    color: white !important;
}

.shadow {
    box-shadow: 0 0.5rem 1rem black !important;
}