* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: justify;
    word-wrap: break-word;
}

.logo {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    filter: invert(62%) sepia(20%) saturate(7330%) hue-rotate(350deg) brightness(99%) contrast(101%);
}

body {
    background-color: var(--bs-gray-dark);
    color: white;
    overflow-x: hidden;
}

.light {
    background-color: white !important;
    color: var(--bs-gray-dark) !important;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 30px;
}

ul li {
    position: relative;
    list-style: none;
}

.light-color {
    color: var(--bs-gray-dark) !important;
}

ul li a {
    position: relative;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
}

.light-color::before {
    color: var(--bs-gray-dark) !important;
    border-color: var(--bs-orange) !important;
    -webkit-text-stroke: 0px var(--bs-gray-dark) !important;
}

ul li a::before {
    content: attr(data-text);
    white-space: nowrap;
    transform: translateY(4px);
    position: absolute;
    color: var(--bs-orange);
    width: 0;
    overflow: hidden;
    transition: 0.4s;
    border-right: 3px solid var(--bs-orange);
    -webkit-text-stroke: 1px var(--bs-orange);
}

.light-color:hover {
    color: var(--bs-gray-dark) !important;
}

a:hover {
    color: white;
}

ul li a:active::before,
ul li a:hover::before {
    width: 100%;
    color: var(--bs-orange);
    filter: drop-shadow(0 0 0px var(--bs-orange));
}

.light-color:active::before,
.light-color:hover::before {
    color: var(--bs-orange) !important;
    filter: drop-shadow(0 0 0px var(--bs-orange));
}

.border-color {
    border-color: var(--bs-orange);
}

@media only screen and (max-width: 1006px) {
    #display-none {
        display: none !important;
    }

    .h1,
    h1 {
        font-size: calc(1rem + 0.6vw);
    }

    .h3,
    h3 {
        font-size: calc(0.6rem + 0.6vw);
    }

    .about {
        font-size: calc(1rem + 0.6vw);
    }

    body {
        font-size: calc(0.7rem + 0.6vw);
    }
}

@media only screen and (max-width: 738px) {
    .navigator-nav {
        justify-content: center !important;
        padding-top: 0.5rem;
    }
}